.event-box {
  
  padding: 0 1rem;
  gap: 1.5rem;

  .event-box__text {
    text-align: center;
  }

  .event-box__name {
    font-size: 1.2rem;
    text-align: center;
    color: #111;
  }
  .event-box__image {
    background-color: bisque;
    border-radius: 1rem;
    z-index: 2;
    overflow: hidden;
  }

  .event-card-back {
    position: absolute;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 340px;
  }
}
