.home {
    height: 100vh;
    background-color: #111;
    gap: 5rem;

    .home__start-button {
        font-size: 2rem;
        background: transparent;
        border: transparent;
        color: white;
    }
} 