.game-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #40325A;
    gap: 1rem;
    padding: 1.8rem;
    .item-slot {
        height: 30px;
        width: 30px;
        background-color: rgba(0, 0, 0, 0.267);
    }
}