.game {
  position: relative;
  overflow: hidden;
  background-color: rgb(62, 53, 73);

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

.game-background {
  position: absolute;
}

.game-content {
  position: relative;
  justify-content: space-between;
  z-index: 1;
  max-width: 430px;
  margin: 0 auto;
  height: 100vh;
  min-height: 650px;
  background-color: rgb(174, 155, 216);
  background-size: cover;
  box-shadow: 1px 1px 21px #1111119a;
}
