<div class="game">
  <img
    class="game-background"
    src="../../../assets/images/backgrounds/city.png"
  />
  <div class="game-content">
    <app-gauge></app-gauge>
    <div class="event-box flex--col flex--ctr">
      <p class="event-box__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
        doloremque pariatur temporibus natus fugiat molestias blanditiis dicta
        suscipit ex laborum recusandae.
      </p>
      <div class="event-box__image">
        <img class="event-image" src="../../../assets/images/png/rabbit.png" />
      </div>
      <h1 class="event-box__name">AI Rabbit</h1>
    </div>
    <app-game-bar></app-game-bar>
  </div>
</div>
