.game {
  position: relative;
  overflow-x: hidden;
}

.game-background {
  position: absolute;
}

.game-content {
  position: relative;
  z-index: 1;
  max-width: 375px;
  margin: 0 auto;
  height: 100vh;
  min-height: 650px;
  background-color: rgb(174, 155, 216);
}
