.fa-circle-pause,
.fa-circle-play {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  font-size: 1.4rem;
  color: white;
  opacity: 0.3;
  transition: 1s;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
