.gauge {

  background-color: #2c1241;
  gap: 2.5rem;

  .gauge-patron {
    position: relative;
    z-index: 1;
  }

  .gauge-icons__gauges {
    position: absolute;
    height: 34px;
    width: 60%;
    margin-top: 4px;

    .gauge-box {
      background-color: #ffffff;
      flex: 1;
      align-self: flex-end;
      transition: 0.8s;
    }
  }
}
